/* Base Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Font Classes */
  .dodum-text {
    font-family: var(--font-dodum);
  }

  .noto-sans-text {
    font-family: var(--font-noto-sans);
  }

  .noto-serif-text {
    font-family: var(--font-noto-serif);
  }

  /* Layout Classes */
  .center {
    align-content: center;
    display: flex;
    justify-content: center;
  }

  .main_container {
    background-color: #fffcf0;
    height: 100%;
    margin: 0 auto;
    width: 300px;
  }

  .side_container {
    background-color: #f8f3ce;
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: all 0.3s;
  }

  .side_todo_container {
    border-bottom: 1px solid;
    border-opacity: 50%;
    border-top: 1px solid;
    display: flex;
    flex-direction: column;
    height: 330px;
    justify-content: space-between;
    padding: 17px 17px 13px;
    width: 216px;
  }

  .side_user_container {
    border-bottom: 1px solid rgba(73, 73, 73, 0.5);
    border-top: 1px solid rgba(73, 73, 73, 0.5);
    display: flex;
    flex-direction: column;
    height: 330px;
    justify-content: space-between;
    padding: 8px 0;
    width: 216px;
  }

  /* Component Classes */
  /* -- Background Components -- */
  .bg_main {
    background-color: #fffcf0;
  }

  .bg_depp {
    background-color: #f8f3ce;
  }

  .bg_deep_2 {
    background-color: #f9f4cf;
  }

  .bg_light_pink {
    background-color: #ffe3e3;
  }

  .bg_deep_pink {
    background-color: #ff8888;
  }

  .bg_deeper {
    background-color: #e0cbb7;
  }

  .bg_hilight {
    background-color: rgba(246, 190, 190, 0.5);
  }

  /* -- Button Components -- */
  .btn_hilight {
    background-color: #f6bebe;
    transition: background-color 0.2s ease-in-out;
  }

  .btn_hilight:hover {
    background-color: #f69d9d;
  }

  .btn_while {
    background-color: white;
    transition: background-color 0.2s ease-in-out;
  }

  .btn_while:hover {
    background-color: rgba(73, 73, 73, 0.1);
  }

  .btn_transparent {
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
  }

  .btn_transparent:hover {
    background-color: rgba(73, 73, 73, 0.5);
  }

  .btn_logout {
    align-items: center;
    background-color: transparent;
    border: 1.5px solid rgba(73, 73, 73, 0.5);
    border-radius: 9999px;
    display: flex;
    gap: 4px;
    height: 34px;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
    width: 120px;
  }

  .btn_transparent_sm {
    align-items: center;
    background-color: transparent;
    border: 1.5px solid;
    border-radius: 0.25rem;
    display: flex;
    font-size: 12px;
    height: 23px;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
    width: 35px;
  }

  /* -- Auth Components -- */
  .auth-container {
    align-items: center;
    background-color: #f8f3ce;
    display: flex;
    flex-direction: column;
    font-family: var(--font-noto-sans);
    height: 100vh;
    justify-content: center;
    width: 100%;
  }

  .auth-form {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .auth-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 9.25px;
  }

  .auth-input {
    border: 1.5px solid;
    font-size: 13px;
    height: 50px;
    outline: none;
    padding: 0 19px;
    width: 300px;
  }

  .auth-input::placeholder {
    color: #c2bfbc;
  }

  .auth-input:focus {
    outline: none;
  }

  .auth-input-top {
    border-bottom: 0;
    border-radius: 0.375rem 0.375rem 0 0;
    font-size: 13px;
    height: 50px;
    outline: none;
    padding: 0 19px;
    width: 300px;
    border-top: 1.5px solid;
    border-left: 1.5px solid;
    border-right: 1.5px solid;
  }

  .auth-input-middle {
    border-bottom: 0;
    border-top: 1px solid;
    font-size: 13px;
    height: 50px;
    outline: none;
    padding: 0 19px;
    width: 300px;
    border-left: 1.5px solid;
    border-right: 1.5px solid;
  }

  .auth-input-bottom {
    border-radius: 0 0 0.375rem 0.375rem;
    border-top: 1px solid;
    font-size: 13px;
    height: 50px;
    outline: none;
    padding: 0 19px;
    width: 300px;
    border-left: 1.5px solid;
    border-right: 1.5px solid;
    border-bottom: 1.5px solid;
  }

  .auth-submit-btn {
    align-items: center;
    background-color: #f6bebe;
    border: 1.5px solid;
    border-radius: 0.375rem;
    display: flex;
    font-size: 13px;
    height: 50px;
    justify-content: center;
    margin-top: 40px;
    width: 300px;
  }

  .auth-kakao-btn {
    align-items: center;
    background-color: #fee500;
    border: 1.5px solid;
    border-radius: 0.375rem;
    display: flex;
    font-size: 13px;
    gap: 10px;
    height: 50px;
    justify-content: center;
    margin-top: 10px;
    transition: background-color 0.2s ease-in-out;
    width: 300px;
  }

  .auth-kakao-btn:hover {
    background-color: #f5d101;
  }

  .auth-link-btn {
    font-size: 12px;
    margin-top: 10px;
  }

  /* -- Confirm Button Components -- */
  .confirm_btn_container {
    align-items: center;
    display: flex;
    font-family: var(--font-noto-sans);
    font-size: 15px;
    gap: 10px;
    height: 30px;
    margin: 0 auto;
    width: 100px;
  }

  .cancel {
    background-color: white;
    border: 1.5px solid;
    border-radius: 0.375rem;
    height: 25px;
    transition: background-color 0.2s ease-in-out;
    width: 40px;
  }

  .cancel:hover {
    background-color: rgba(73, 73, 73, 0.1);
  }

  .confirm {
    background-color: #f6bebe;
    border: 1.5px solid;
    border-radius: 0.375rem;
    height: 25px;
    transition: background-color 0.2s ease-in-out;
    width: 40px;
  }

  .confirm:hover {
    background-color: #f69d9d;
  }

  /* -- Modal Components -- */
  .modal_btn {
    align-items: center;
    border-radius: 0.375rem;
    display: flex;
    height: 25px;
    justify-content: center;
    width: 40px;
  }

  /* -- Loading Components -- */
  .loading.spinner {
    animation: rotate 1s infinite linear;
    border: 3px solid #eee;
    border-bottom-color: #f6bebe;
    border-radius: 50%;
    height: 150px;
    left: 50%;
    margin-left: -75px;
    margin-top: -75px;
    position: relative;
    top: 50%;
    width: 150px;
  }

  .loading.spinner.small {
    border-width: 1px;
    height: 100px;
    margin-top: 0px;
    width: 100px;
  }

  .modal.loading {
    animation: rotate 1s infinite linear;
    border: 3px solid #eee;
    border-bottom-color: #e0cbb7;
    border-radius: 50%;
    height: 150px;
    left: 50%;
    margin-left: -75px;
    margin-top: -75px;
    position: absolute;
    top: 50%;
    width: 150px;
    z-index: 999;
  }

  /* -- Pagination Components -- */
  .pagination {
    align-items: center;
    display: flex;
    font-size: 12px;
    gap: 8px;
  }

  .pagination_btn {
    cursor: pointer;
    height: 10px;
    width: 5px;
  }

  .pagination_btn_disabled {
    cursor: not-allowed;
    height: 10px;
    width: 5px;
  }

  /* -- Dashboard Components -- */
  .dashboard_title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  /* -- Calendar Components -- */
  .crop-max-size {
    max-height: 250px !important;
    max-width: 250px !important;
  }

  .day-sun {
    color: #e75f51;
    position: relative;
  }

  .day-sun::before {
    content: "S";
  }

  .day-mon::before {
    content: "M";
  }

  .day-tue::before {
    content: "T";
  }

  .day-wed::before {
    content: "W";
  }

  .day-thu::before {
    content: "T";
  }

  .day-fri::before {
    content: "F";
  }

  .day-sat::before {
    content: "S";
  }

  /* Utility Classes */
  .bor {
    border: 1.5px solid;
  }

  .bor_right {
    background-color: rgba(73, 73, 73, 0.4);
    height: 15px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
  }

  .bor_light_pink {
    border-color: #ffe3e3;
  }

  .cur {
    cursor: pointer;
  }

  .shadow_box {
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.15) !important;
  }

  .status_box {
    align-items: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  .text_red {
    color: #e75f51;
  }

  .text_sm {
    font-size: 12px;
  }

  .text_base {
    font-size: 12px;
  }

  .text_lg {
    font-size: 15px;
  }

  .text_xl {
    font-size: 18px;
  }
}

/* Vendor Prefix Styles */
/* -- Scrollbar Styles -- */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 5px;
}

div::-webkit-scrollbar-track {
  background-color: transparent;
}

/* -- Input Autofill Styles -- */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-text-fill-color: #494949 !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* -- Ant Design TimePicker Styles -- */
.ant-picker {
  background-color: #ffffff !important;
  border: 1.5px solid #494949 !important;
  border-radius: 0.375rem !important;
  cursor: pointer !important;
  height: 30px !important;
  width: 100px !important;
}

.ant-picker:hover {
  border-color: #494949 !important;
}

.ant-picker:hover,
.ant-picker:focus,
.ant-picker-focused {
  border-color: #494949 !important;
  box-shadow: none !important;
  outline: none !important;
}

.ant-picker-panel-container {
  margin-top: 4px !important;
}

.custom-timepicker-dropdown {
  z-index: 1100 !important;
}

/* -- ProseMirror Styles -- */
.ProseMirror img {
  display: block;
  height: auto;
  max-width: 100%;
}

.ProseMirror:focus {
  box-shadow: none !important;
  outline: none !important;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #494949;
  content: attr(data-placeholder);
  float: left;
  font-family: var(--font-noto-sans);
  font-size: 20px;
  height: 0;
  pointer-events: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: rgba(73, 73, 73, 0.5);
}

/* -- Alert Styles -- */
.custom-alert {
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  right: 20px;
  top: 20px;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.custom-alert-success {
  background-color: #d4edda;
  color: #155724;
}

.custom-alert-error {
  background-color: #f8d7da;
  color: #721c24;
}

/* Animation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media Queries */
@media (min-width: 1024px) {
  /* Layout */
  .main_container {
    width: 1270px;
  }

  .side_container {
    justify-content: space-between;
    padding: 17px;
  }

  .side_todo_container {
    height: 392px;
  }

  .side_user_container {
    height: 392px;
  }

  /* Components */
  .btn_logout {
    height: 38px;
    width: 146px;
  }

  .btn_transparent_sm {
    display: block;
    font-size: 15px;
    height: 25px;
    width: 40px;
  }

  .confirm_btn_container {
    font-size: 20px;
    height: 35px;
    width: 130px;
  }

  .cancel,
  .confirm {
    height: 35px;
    width: 60px;
  }

  .modal_btn {
    display: block;
    height: 35px;
    width: 60px;
  }

  /* Auth */
  .auth-title {
    font-size: 20px;
  }

  .auth-input {
    font-size: 15px;
    width: 390px;
  }

  .auth-input-top {
    width: 390px;
  }

  .auth-input-middle {
    width: 390px;
  }

  .auth-input-bottom {
    width: 390px;
  }

  .auth-submit-btn {
    font-size: 15px;
    width: 390px;
  }

  .auth-kakao-btn {
    font-size: 15px;
    width: 390px;
  }

  .auth-link-btn {
    font-size: 15px;
  }

  /* Pagination */
  .pagination {
    font-size: 16px;
    gap: 10px;
  }

  .pagination_btn,
  .pagination_btn_disabled {
    height: 12px;
    width: 7px;
  }

  /* Dashboard */
  .dashboard_title {
    font-size: 25px;
  }

  /* Text */
  .text_base {
    font-size: 15px;
  }

  .text_lg {
    font-size: 20px;
  }

  .text_xl {
    font-size: 25px;
  }

  /* Calendar */
  .crop-max-size {
    max-height: 500px !important;
    max-width: 500px !important;
  }

  .day-sun::before {
    content: "SUN";
  }
  .day-mon::before {
    content: "MON";
  }
  .day-tue::before {
    content: "TUE";
  }
  .day-wed::before {
    content: "WED";
  }
  .day-thu::before {
    content: "THU";
  }
  .day-fri::before {
    content: "FRI";
  }
  .day-sat::before {
    content: "SAT";
  }

  /* Vendor */
  .ant-picker {
    width: 113px !important;
  }
}
