@tailwind base;
@tailwind components;
@tailwind utilities;

.cur {
  @apply cursor-pointer;
}

.bor {
  @apply border-2 border-black;
}

.main_container {
  @apply bg-[#F4EAE8] w-full h-full rounded-l-[100px] p-10 px-20 min-h-[1080px];
}

li {
  @apply cursor-pointer;
}

.loading.spinner {
  margin: 250px auto;
  width: 150px;
  height: 150px;
  border: 3px solid #eee;
  border-bottom-color: #e0cbb7;
  border-radius: 50%;
  animation: rotate 1s infinite linear;
}
.modal.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -75px;
  margin-top: -75px;
  width: 150px;
  height: 150px;
  border: 3px solid #eee;
  border-bottom-color: #e0cbb7;
  border-radius: 50%;
  animation: rotate 1s infinite linear;
  z-index: 999;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.ProseMirror {
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 20px 0;
  max-width: 100%;
  overflow-x: auto;
  outline: none;
}
